In [9]:
import pandas as pd
import numpy
list_ = ["data/20180521_0.csv"
         , "data/20180521_1.csv"
         , "data/20180521_2.csv"
         , "data/20180521_3.csv"
         , "data/20180521_4.csv"
         , "data/20180521_5.csv"
         , "data/20180521_6.csv"
         , "data/20180521_7.csv"
         , "data/20180521_8.csv"
         , "data/20180521_9.csv"
        ]
df_from_each_file = (pd.read_csv(f) for f in list_)
concatenated_df   = pd.concat(df_from_each_file, ignore_index=True)
concatenated_df.head()

,timestamp,icao24,latitude,longitude,ground_speed,track,vertical_rate,callsign,onground,alert,spi,squawk,baro_altitude,altitude,last_position,hour,geometry
0,2018-05-21 00:00:00,3cc23d,47.203038,8.009878,441.480082,20.692753,-64.0,DCAWB,False,False,False,1051.0,40000.0,40500.0,2018-05-20 23:59:58.988000,1526853600,POINT (8.009878305288463 47.20303810248939)
1,2018-05-21 00:00:01,4ca640,47.125342,8.046992,450.404984,322.850241,0.0,EIN417,False,False,False,7532.0,35950.0,36325.0,2018-05-20 23:59:58.535000,1526853600,POINT (8.04699237530048 47.1253424175715)
2,2018-05-21 00:00:01,3c09f4,47.095230,7.787041,465.816085,35.123016,0.0,GMI54HM,False,False,False,2315.0,38050.0,38325.0,2018-05-21 00:00:00.997000,1526853600,POINT (7.787040710449219 47.09523010253906)
3,2018-05-21 00:00:01,461f67,46.146149,7.396746,460.678449,25.730706,0.0,FIN8T,False,False,False,5572.0,34000.0,33875.0,2018-05-20 23:59:58.944000,1526853600,POINT (7.396746379573171 46.14614868164062)
4,2018-05-21 00:00:01,4ca94c,46.696243,9.539080,429.535425,305.429134,0.0,IBK9563,False,False,False,2773.0,34000.0,34525.0,2018-05-21 00:00:00.538000,1526853600,POINT (9.539080363948173 46.69624328613281)

In [10]:
df = concatenated_df
df = df[df['onground'] == False]
df = df.drop(columns=['ground_speed', 'track', 'vertical_rate', 'callsign', 'baro_altitude', 'onground', 'alert', 'spi', 'squawk', 'last_position', 'hour', 'geometry'])

In [11]:
df['altitude'] = df['altitude'].apply(lambda x: x / 3.2808)
df['altitude'] = df['altitude'].round(0)

#Round Floats
df['latitude'] = df['latitude'].round(5)
df['longitude'] = df['longitude'].round(5)

In [12]:
df_freq = df
#df_freq = df[df['icao24'] == '3964e0']
df_freq['icao24'].count()

2294830

In [13]:
#Convert timestamp to datetime
df_freq['timestamp'] = pd.to_datetime(df_freq['timestamp'])
#df_freq['timestamp'] = df_freq['timestamp'].dt.time

In [14]:
#only take first of each 10 min
agg_10m = df_freq.groupby([ pd.Grouper(key='timestamp', freq='1Min'), 'icao24'])
df_10 = agg_10m.first()
df_10 = df_10.reset_index()

In [15]:
#remove date
df_10['timestamp'] = df_10['timestamp'].dt.time

In [16]:
#Save to file
df_10.to_csv("data.csv", index=False)